<html>

<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/err.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>

<script>
    function exit() {
        document.location.href = "/";
    }
</script>

<body onclick="exit()" title="Нажми чтобы выйти">
    <header>
        <h1>404</h1>
        <h2>Единственное, что важно, - это то, движет ли это вами или нет<br>Больше нет ничего важного.</h2>
    </header>
    <figure class="tape"></figure>
</body>

</html>