
{% extends 'base.html' %}

{% block title %}
<title>TING · Учи английский</title>
{% endblock %}


{% block body %}
<body class="colorBG">
    <main role="main" class="colorBG">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3 Trans" src="/static/Photo/TINGICon.png" alt="" width="70" height="70">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100 TingText Font-Nerko-One">TING</h6>
                <small>Живет с 2020</small>
            </div>
        </div>
        
        <style>
            .pPP{
                margin-top: 25px;
            }
        </style>
        <div class="my-3 p-3 shadow-sm colorBG">
        <!--             
            <h5 class="orangeC pPP">Recent updates</h5>
            <h6 class="MutedText"></h6>
        -->

            <h5 class="orangeC pPP">Политика конфиденциальности</h5>
            <h6 class="MutedText">Администрация сайта (HTTPS://ДАННЫЙ САЙТ) обязуется сохранять вашу конфиденциальность в Интернете. Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности основана на требованиях Общего регламента о защите персональных данных Европейского Союза (GDPR). Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса, осуществление контактов с посетителями данного сайта, осуществление услуг, связанных с направлением деятельности данного сайта, а так же для указанных ниже действий.</h6>
            
            <h5 class="orangeC pPP">Сбор и использование персональных данных</h5>
            <h6 class="MutedText">Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия. При согласии с этим вы разрешаете нам собирать и использовать следующие данные: электронная почта, имя, фамилия.</h6>

            <h5 class="orangeC pPP">Хранение данных, изменение и удаление</h5>
            <h6 class="MutedText">Пользователь, предоставивший свои персональные данные сайту (https://данный сайт) имеет право на их изменение и удаление, а так же на отзыв своего согласия с их использованием. Срок, в течение которого будут храниться ваши персональные данные: время, необходимое для использования данных для основной деятельности сайта. При завершении использования ваших данных администрация сайта удаляет их. Для изменения или удаления своих персональных данных вы можете использовать страницу вашего профайла или связаться с администрацией сайта по следующему адресу:  адрес почты.</h6>
            
            <h5 class="orangeC pPP">Использование технических данных при посещении сайта</h5>
            <h6 class="MutedText">При посещении вами сайта (https://данный сайт) в базе данных сохраняются записи о вашем IP адресе, времени посещения, настройках браузера, операционной системе, а также другая техническая информация необходимая для корректного отображения содержимого сайта. По этим данным нам невозможно идентифицировать личность посетителя.</h6>

            <h5 class="orangeC pPP">Использование cookies</h5>
            <h6 class="MutedText">Для корректного отображения содержимого и для удобства использования сайта (https://данный сайт) мы используем cookie файлы. Это небольшие файлы, которые хранятся на вашем устройстве. Они помогают сайту запомнить информацию о вас, вошлили вы на сайт или нет, и какую версию сайта отображать (мобильную или полную), эта информация будет полезна при следующем посещении. Благодаря файлам cookie просмотр сайта становится значительно более удобным. Подробнее про эти файлы вы можете прочитать тут. Вы можете настроить прием или блокировку cookie в браузере самостоятельно. Невозможность принимать cookie может ограничить работоспособность сайта. cookie файл удаляется, при полном закрытие браузера.</h6>

            <h5 class="orangeC pPP">Изменения в политике конфиденциальности</h5>
            <h6 class="MutedText">Наш сайт (https://данный сайт) может обновлять нашу политику конфиденциальности время от времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице.</h6>

            <h5 class="orangeC pPP">Обратная связь, заключительные положения</h5>
            <h6 class="MutedText">Связаться с администрацией сайта (https://данный сайт) по вопросам, связанным с политикой конфиденциальности можно по адресу:  адрес почты, либо с помощью контактной формы указанной в соответствующем разделе данного сайта. Если вы не согласны с данной политикой конфиденциальности, вы не можете пользоваться услугами сайта (https://данный сайт), в этом случае вы должны воздержаться от посещения нашего сайта.</h6>

            <h5 class="orangeC pPP">Ссылки на другие сайты</h5>
            <h6 class="MutedText">Наш сайт (https://данный сайт) может содержать ссылки на другие сайты, которые не управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете, если она там есть.</h6>

            <h5 class="orangeC pPP">Использование персональных данных другими сервисами</h5>
            <h6 class="MutedText">На этом сайте используются сторонние интернет-сервисы, осуществляющие независимый от нас сбор информации: YouTube. Собранные ими данные могут предоставляться другим службам внутри этих организаций, они могут использовать данные для персонализации рекламы своей собственной рекламной сети.  Вы можете прочитать пользовательские соглашения этих организаций на их сайтах. Условия использования YouTube вы можете найти тут https://www.youtube.com/t/terms. Подробную информацию о конфиденциальности, связанной с использованием YouTube вы найдете на этой странице https://policies.google.com/privacy Мы не передаем персональные данные другим организациям и службам, не указанным в данной политике конфиденциальности. Исключение составляет только передача информации при законных требованиях государственных органов уполномоченных осуществлять данные действия.</h6>

        
        </div>
    

    </main>   

</body>
</html>


{% endblock %}